/* Start--Hero Section */
/* TODO have consistensy is font size of elements  heeo*/
.hero-section{
  border: none;
  padding:2% 0;
}
.hero-container {
  position: relative;
  height: 500px;
}

.logo-container img {
  width: 8rem;
}

.text-container::after {

  --s: 5.4rem;
  content: '';
  position: absolute;
  /*TODO to be changed by calc */
  bottom: -60%;
  right: 10%;
  height: calc(var(--s)*2.3);
  width: calc(var(--s)*1.5);
  background-image: url(../../assets/images/headleaf.png);
  background-size: calc(var(--s));
  background-repeat: no-repeat;
  transform: rotate(68deg);
  z-index: -1;
}

.text-container h1 {
  font-size: 4.0rem;
}

.text-container h2 {
  font-size: 2.3rem;
}
.hero-button{
  font-size: 1.6rem;
}

.bot-navbar {
  font-family: var(--font-primary);
}


.bot-navbar .nav-item {
  width: 150px;
  text-align: center;
  padding: 3.2rem 0;
  background-size: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

.bot-navbar .nav-item:hover {
  transform: scale(1.1);
}

.bot-navbar .nav-link {
  color: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.dark-nav {
  background-color: var(--navbg-dark);
  background-image: url(../../assets/images/leafnavw.png);

}

.light-nav {
  background-color: var(--navbg-light);
  color: var(--bg-color);
  background-image: url(../../assets/images/leafnavbb.png);
}

/* End--Hero Section */