/* website stats start */
.stats-card {
    text-align: center;
    flex: 1;
    background:none;
  }
  .stats-card h3 {
    font-size: var(--fs-subheading);
  }
  .stats-card p.count {
    font-size: var(--fs-large);
    font-weight: bold;
    color: var(--text-color);
  }
  .stats-border-right {
    border-right: 1px solid #ccc;
    border-radius: 0;
  }
  
  /* website stats end */