
.event-card {
    width: 25%;
    margin-bottom: 1%;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.148);
    border-radius: 5px;
    overflow: hidden;
    color: var(--text-color);
    font-size: 1.0rem;
    background-color:var(--bg-color);
    
  }
  
  .event-card img {
    width: 100%;
    height: auto;
  }
  
  .event-card h3 {
    font-size:1.3rem;
  
  }
  
  
  .event-card time {
    font-style: italic;
  }
  
  .register-button {
    display: block;
    background-color: var(--navbg-dark);
    color:var(--fg-color);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: var(--navbg-light);
  }