/* Featured events start */
.event-container {
  display: flex;
  gap: 2%;
  align-items: center;
  flex:1;
}

.event-card {
  box-shadow: 0px 12px 40px var(--shadow-color);
  color: var(--text-color);
  background-color:var(--bg-color);
}

.show-all-button {
  font-size:var(--fs-button);

}

/* Featured events End */

.nav-tabs li button{
  color: var(--text-color);

}
.nav-tabs li button:hover{
  color: var(--fg-color);
  border-color: var(--navbg-dark) !important;
}
.nav-tabs li button.active{
  color: var(--fg-color) !important;
  background-color: var(--navbg-dark) !important;
  border-color: var(--navbg-dark) !important;
  
}