.footer {
    color: var(--text-color);
    padding: 5% 5%;
    font-size: var(--fs-paragraph);
    box-shadow:inset 0 2px 5px rgba(255, 255, 255, 0.1) ;
  }

  .footer-list h4 {
    font-size: var(--fs-subheading);
    color: var(--fg-color);
  }
  .footer-list-group a:hover{
    color: var(--fg-color);
  }
  .footer-email a {
    color: inherit;
    text-decoration: none;
  }
  .footer-social a {
    color: var(--fg-color);
    font-size: var(--fs-subheading);
    transition: color 0.3s ease-in-out;
  }
  .footer-social a:hover {
    color: var(--text-color);
  }
  
  