/* testimonial starts */
.testimonial-section .carousel-item{
  padding: 0 10%;  
  }
  .testimonial-card {
    background: none;
  }
  .testimonial-card .card-title {
    font-size: var(--fs-subheading);
  }
  /* testimonial ends */