/* TODO fixed values to be removed in UI */
.main-button{
    border: 0;
    font-family: var(--font-primary);
    padding: 1rem 2rem;
    border-radius: 4rem;
    background: linear-gradient(to right, var(--navbg-dark) 40%,var(--navbg-light)); 
    color: var(--fg-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
   }
   .main-button:hover {
    transform: scale(1.2);
    opacity: 0.7;
    color: var(--fg-color);
  }

  .second-button {
    border: 0;
    background-color: var(--navbg-dark);
    color:var(--fg-color);
    text-align: center;
    padding: 5px;
    border-radius:5px;
    transition: background-color 0.3s ease;
  }
  
  .second-button:hover {
    background-color: var(--navbg-light);
  }

  
  .main-carousel .item-container {
    display: flex;
    gap: 2%;
    align-items: center;
    flex:1;
  }

  .leaf-border-left {
    position: relative;
    z-index: 1;
  }
  /* TODO refactar the following */
  .leaf-border-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px; 
    background-image: url(../../assets/images/leafborderleft.png);
    background-repeat:repeat-y;
    background-size: 170px;
    
  }
  .leaf-border-right {
    position: relative;
    z-index: 1;
  }
  .leaf-border-right::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px; 
    background-image: url(../../assets/images/leafborder.png);
    background-repeat:repeat-y;
    background-size: 170px;
    
  }
  